@import '../../Varibles.css';
.header {
    display: grid;
    grid-template-columns: minmax(100px, 500px) minmax(100px, 600px);
    margin: 50px 0;
    place-content: center;
}
.photo_perfil_container {
    width: 100%;
    /* width: 400px; */
}
.photo_perfil_image {
    width: 100%;
}
.perfil_info_container {
    display: grid;
    place-content: center
    ;
}
.perfil_info_container h2 {
    font-size: 2.5rem;
    font-family: 'Roboto';
}
.perfil_info_container p {
    font-family: 'Rubik';
    color: var(--colorText1);
    font-size: .9rem;
}
.button_container button {
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
.contactme_button{
    border: none;
    background: black;
    color: white;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 30px;
}
.check_my_work {
    background: white;
    color: black;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid black;

}
