.Navbar {
    display: grid;
    background: white;
    width: 100%;
    /* background: blue; */
    justify-content: space-between;
    grid-template-columns: minmax(60px, 100px) 1fr minmax(150px, 200px);
    height: 70px;
    /* place-content: center;   */
    place-items: center;
}   
.Navbar img {
    width: 60px;
    /* width: 100%; */
    height: 60px;
    /* margin-left: 20px; */
}
.navbar_section{
    display: flex;
    width: 300px;
    list-style: none;
    font-family: 'Roboto';
    /* width: fit-content; */
    justify-content: center;
    /* min-width: 300px; */
}
.navbar_section li {
    margin: 0px 30px;
}
.navbar_dev_social{
    display: flex ;
    font-family: 'Roboto';
    list-style: none;
}
.navbar_dev_social li {
    margin: 0 30px;
}